extends ../admin_layout
mixin renderDashboardStat(id, name, underName, moreInfo)
    .col-xs-6.col-sm-3.placeholder
        .admin-stat(id=id)
            span: i.fa.fa-circle-o-notch.fa-spin
        h4 #{name}
        span.text-muted
            .
                #{underName}
            if moreInfo
                br
                small #{moreInfo}
block adminDependencies
    - var js = ["/js/build/admin_dashboard.js", "https://cdn.jsdelivr.net/gh/rmm5t/jquery-timeago@180864a9c544a49e43719b457250af216d5e4c3a/jquery.timeago.js"];
    - var jsSnippets = [`loadRecentActionsIntoContainer($("#actions-ctn"), 10, false, false)`];
block adminContent
    h1.page-header Dashboard
    // Status Updates
    .row.placeholders
        +renderDashboardStat("users-online", "Users online", "right now", null)
        +renderDashboardStat("new-accounts", "New accounts", "in the last 24 hours", null)
        +renderDashboardStat("pixels-placed", "Pixels placed", "in the last 24 hours", null)
        +renderDashboardStat("pixels-placed-2", "Pixels placed", "per minute", "(averaged from last 20 minutes)")
    if user.admin
        // Administrator Actions
        .section-heading
            h2.sub-header Administrator Actions
        .content#admin-actions Loading…
        - jsSnippets.push(`$("#admin-actions").html(renderServerActions())`);
    // Recent Actions
    .section-heading
        h2.sub-header Recent Actions
        a(href="/admin/actions") See all &raquo;
    .dashboard-actions-ctn.compact#actions-ctn
    if user.admin
        form#broadcastForm: .dialog-ctn
            .dialog-overlay
            .dialog#broadcast-dialog
                .close &times;
                .pages
                    .active(tab-name="sign-up")
                        .heading
                            span.site #{config.siteName}
                            h1 Send Admin Broadcast
                            p.subhead Send a message to all users currently viewing connected to the websockets.
                        .content
                            label.sr-only(for="inputBroadcastTitle") Title (optional)
                            input.form-control#inputBroadcastTitle(type="text", placeholder="Title (optional)")
                            label.sr-only(for="inputBroadcastMessage") Message
                            input.form-control#inputBroadcastMessage(type="text", placeholder="Message")
                            label.sr-only(for="inputBroadcastTitle") Style
                            select.selectpicker.form-control#inputBroadcastStyle
                                option(value="info") Informative
                                option(value="success") Success
                                option(value="warning") Warning
                                option(value="danger") Danger
                            label.sr-only(for="inputBroadcastTimeout") Timeout
                            input.form-control#inputBroadcastTimeout(type="number", placeholder="Timeout", value="0", aria-describedby="inputBroadcastTimeoutHelpBlock")
                            small.text-muted.help-block#inputBroadcastTimeoutHelpBlock How long to wait before automatically dismissing the alert in seconds. Enter #[strong 0] to never automatically dismiss.
                .dialog-footer.align-end
                    button.btn.btn-popping.btn-default(type="button", data-dialog-dismiss=true) Cancel
                    button.btn.btn-popping.btn-primary(type="submit") Broadcast
