.dialog-ctn
    .dialog-overlay
    .dialog#sign-in-dialog
        .close &times;
        .pages
            .active(tab-name="sign-up")
                .heading
                    span.site #{config.siteName}
                    h1 Become a member
                    p.subhead Join the #{config.siteName} community today to start placing.
                if !config.maintenance || config.maintenance.allowSignups
                    if config.oauth.dynastic && config.oauth.dynastic.enabled
                        h3 The best way to sign up
                        p.text-muted Use a Dynastic Account to sign into canvas.place
                        a.btn.btn-lg.btn-success(href="/auth/dynastic") Sign in with Dynastic Account
                        hr
                    form.form-signin(action="/signup")
                        label.sr-only(for="inputUsernameRegistration") Username
                        input.form-control#inputUsernameRegistration(type="text", autocomplete="username", placeholder="Username", name="username", required, autofocus, autocorrect="off", autocapitalize="off", spellcheck="false")
                        label.sr-only(for="inputPasswordRegistration") Password
                        input.form-control.form-merge-top#inputPasswordRegistration(type="password", autocomplete="new-password", placeholder="Password", name="password", required)
                        label.sr-only(for="inputPasswordRegistration2") Password (again)
                        input.form-control.form-merge-bottom#inputPasswordRegistration2(type="password", autocomplete="new-password", placeholder="Password (again)", name="passwordverify", required)
                        if captcha
                            .
                                !{renderCaptcha()}
                        if hasTOS || hasCommunityGuidelines
                            .checkbox
                                label
                                    input(type="checkbox", name="agreeToGuidelines")
                                    span
                                        | I agree to abide by the 
                                        if hasTOS
                                            a(href="/tos") Terms of Service
                                        if hasTOS && hasCommunityGuidelines
                                            |  and 
                                        if hasCommunityGuidelines
                                            a(href="/guidelines") Community Guidelines
                                        | .
                        .checkbox
                            label
                                input(type="checkbox", name="keepSignedIn", checked)
                                span Keep me signed in
                        .send-section
                            button.btn.btn-popping(type="submit") Sign Up
                            include social-buttons
                else
                    br
                    div.alert.alert-danger
                        h4 Signing up for #{config.siteName} is currently disabled.
                        if config.maintenance.notice
                            p !{config.maintenance.notice}

            div(tab-name="sign-in")
                .heading
                    span.site #{config.siteName}
                    h1 Welcome back
                    p.subhead Sign in to your account to continue placing and save your stats.
                if config.maintenance.allowLogins || !config.maintenance
                    form.form-signin(action="/signin")
                        label.sr-only(for="inputUsername") Username
                        input.form-control#inputUsername(type="text", autocomplete="username", placeholder="Username", name="username", required, autofocus, autocorrect="off", autocapitalize="off", spellcheck="false")
                        label.sr-only(for="inputPassword") Password
                        input.form-control#inputPassword(type="password", autocomplete="current-password", placeholder="Password", name="password", required)
                        .checkbox
                            label
                                input#inputKeepSignIn(type="checkbox", name="keepSignedIn", checked)
                                span Keep me signed in
                        .send-section
                            button.btn.btn-popping(type="submit") Sign in
                            include social-buttons
                        if config.signInBanner
                            br
                            div.alert.alert-success !{config.signInBanner}
                else
                    br
                    div.alert.alert-danger
                        h4 Signing in to #{config.siteName} is currently disabled.
                        if config.maintenance.notice
                            p !{config.maintenance.notice}
            div.hides-switchers(tab-name="2fa-auth")
                .heading
                    span.site #{config.siteName}
                    h1 Two-factor Authentication
                    p.subhead This account is secured with two-factor authentication. To continue, enter the token from your two-factor authentication app.
                form.form-signin(action="/signin")
                    input.form-control#inputUsername2FA(type="hidden", name="username")
                    input.form-control#inputPassword2FA(type="hidden", name="password")
                    input#inputKeepSignIn2FA(type="checkbox", name="keepSignedIn", checked, style="display: none;")
                    label.sr-only(for="inputTotpToken") Authentication Token
                    input.form-control#inputTotpToken(maxlength="6", inputmode="numeric", pattern="[0-9]{6}", name="totpToken", placeholder="Authentication Token", required, autocorrect="off", autocapitalize="off", autocomplete="off", spellcheck="false")
                    .send-section
                        button.btn.btn-popping(type="submit") Continue
        .switchers
            .active(tab-name="sign-up")
                div
                    .description
                        span.headline Need an account?
                        span.action-label Sign up for an account
                    .call-to-action
                        a.btn.btn-popping.btn-arrow Sign Up
            div(tab-name="sign-in")
                div
                    .description
                        span.headline Already a member?
                        span.action-label Sign in to your account
                    .call-to-action
                        a.btn.btn-popping.btn-arrow Sign In
