extends ../layout
block dependencies
    - var isSelf = user ? user.id == profileUser.id : false;
    - if (isSelf) var overrideNavPath = "/account";    
    - var pixel = profileUserInfo.latestPixel;
    - var boardImageCorrection = (1000 / config.boardSize) * 4;
    - var pageTitle = isSelf ? "Account Details" : `${profileUser.name}'s Profile`;
    - var pageDesc = isSelf ? `View information about your ${config.siteName} account.` : `View ${profileUser.name}'s profile on ${config.siteName}.`;
    - var css = ["/css/dashboard.css", "/css/profile.css"];
    - var navbarSupportsTopMode = !!profileUserInfo.latestPixel;
    - js = ["/js/tooltip.js", "/js/build/account.js", "https://cdn.jsdelivr.net/gh/rmm5t/jquery-timeago@180864a9c544a49e43719b457250af216d5e4c3a/jquery.timeago.js"];
    - jsModSnippets = [`  $(document).ready(function() {
    -    $("#profile-mod-tools-ctn").html(renderUserActions(${JSON.stringify(profileUser)}));
    -  });`];
block content
    - var has2FA = profileUser.twoFactorAuthEnabled();
    if pixel
        a(href=`/#x=${pixel.point.x}&y=${pixel.point.y}`)
            .profile-header(style=`background-position: calc(50% - ${(pixel.point.x - (config.boardSize / 2)) * boardImageCorrection}px) ${-(pixel.point.y * boardImageCorrection) + 175}px;`)
                .overlay
    .container
        .profile-info(class=(pixel ? " has-pixel" : ""))
            .user-header-info
                .avatar: span= profileUser.getUsernameInitials()
                .user-info
                    span.username
                        .
                            #{profileUser.name}
                        +renderBadges(profileUser.getBadges(null))
                    .subdetails
                        - var rank = profileUserInfo.statistics.leaderboardRank;
                        if rank !== null
                            div
                                span.value ##{profileUserInfo.statistics.leaderboardRank.toLocaleString()}
                                span.name Global rank
                        div
                            span.value= profileUser.placeCount.toLocaleString()
                            span.name pixel#{profileUser.placeCount == 1 ? "" : "s"} placed
                        if profileUserInfo.statistics.placesThisWeek !== null
                            div
                                span.value= profileUserInfo.statistics.placesThisWeek.toLocaleString()
                                span.name pixel#{profileUserInfo.statistics.placesThisWeek == 1 ? "" : "s"} this week
            if isSelf && config.maintenance.notice
                div.alert.alert-danger
                    h4 Important infomation regarding your #{config.siteName} account:
                    p !{config.maintenance.notice}
            if hasNewPassword
                .alert.alert-success #[strong Success!] Your password has been changed successfully!
                hr
            h1 About #{isSelf ? "me" : "them"}
            .user-details
                p #[strong Joined] #[time.timeago(datetime=profileUser.creationDate.toISOString(), title=profileUser.creationDate.toLocaleString()) on loading date].
                if profileUser.lastPlace
                    p #[strong Last placed] #[time.timeago(datetime=profileUser.lastPlace.toISOString(), title=profileUser.lastPlace.toLocaleString())]
                        if pixel && pixel.isLatest
                            .
                                #{" at "}
                            a(href=`/#x=${pixel.point.x}&y=${pixel.point.y}`) (#{pixel.point.x.toLocaleString()}, #{pixel.point.y.toLocaleString()})
                        . 
                            .
            //- Disable this section for OAuth users because they cannot deactivate or change passwords at this time.
            if user && user.admin
                hr
                h1 Access Data
                h4 IP Addresses (hashed)
                ul
                    each ip in profileUser.ipAddresses
                        li= ip
                h4 User Agents
                ul
                    each ua in profileUser.userAgents
                        li= ua
                h4 Keys
                ul
                    each ua in profileUser.keys
                        li= ua
            if isSelf && !profileUser.isOauth
                hr
                h1 My account
                | #[a.btn.btn-success(data-toggle="modal", id=`${has2FA ? "dis" : "en"}ableTwoFactorAuth`) #{has2FA ? "Dis" : "En"}able Two-Factor Authentication]
                | #[a.btn.btn-info(data-toggle="modal", data-target="#changePassword") Change Password]
                | #[a.btn.btn-warning(data-toggle="modal", data-target="#downloadAccount") Download Account Data]
                | #[a.btn.btn-danger(data-toggle="modal", data-target="#deactivateAccount") Deactivate / Delete Account]
            if user && user.canPerformActionsOnUser(profileUser)
                hr
                h1 Moderator tools
                #profile-mod-tools-ctn
    if isSelf && !profileUser.isOauth
        .modal.fade#changePassword(tabindex="-1", role="dialog")
            .modal-dialog(role="document")
                .modal-content
                    form.form-horizontal#changePasswordForm
                        .modal-header
                            button.close(type="button", data-dimiss="modal", aria-label="Close"): span(aria-hidden="true") &times;
                            h4.modal-title Change Password
                        .modal-body
                            p Change your password using your current password. #[Make sure you remember the new password, as this cannot be undone without it.]
                            .form-group
                                label.col-sm-3.control-label(for="inputChangePasswordCurrent") Password
                                .col-sm-9: input.form-control#inputChangePasswordCurrent(type="password", placeholder="Current Password", name="password")
                            .form-group
                                label.col-sm-3.control-label(for="inputChangePasswordNew") New Password
                                .col-sm-9: input.form-control#inputChangePasswordNew(type="password", placeholder="New Password", name="newPassword")
                            .form-group
                                .col-sm-9.col-sm-offset-3: input.form-control#inputChangePasswordNew2(type="password", placeholder="New Password (again)", name="newConfPassword")
                            .alert.hidden(role="alert", name="changePasswordProgressAlert")
                        .modal-footer
                            button.btn.btn-default(type="button", data-dismiss="modal") Cancel
                            button.btn.btn-primary(type="submit") Change Password
        .modal.fade#deactivateAccount(tabindex="-1", role="dialog")
            .modal-dialog(role="document")
                .modal-content
                    form.form-horizontal#deactivateAccountForm
                        .modal-header
                            button.close(type="button", data-dimiss="modal", aria-label="Close"): span(aria-hidden="true") &times;
                            h4.modal-title Deactivate or Delete your Account
                        .modal-body
                            p Are you sure you want to deactivate or delete your account?
                            p Before you do so:
                            ul
                                li Deactivated accounts can be recovered by reauthenticating.
                                li Deleted accounts #[strong cannot be recovered after 7 days].
                                li You can cancel your account deletion before 7 days, by logging back in.
                                li Your pixels will remain, but the creator will be shown as "Deactivated/Deleted account".
                            p If you are still sure, re-enter your account's current password to deactivate or delete it.
                            .form-group
                                label.col-sm-3.control-label(for="inputDeactivatePassword") Password
                                .col-sm-9: input.form-control#inputDeactivatePassword(type="password", placeholder="Password", name="password")
                            .alert.hidden(role="alert", name="deactivateAccountProgressAlert")
                        .modal-footer
                            button.btn.btn-default(type="button", data-dismiss="modal") Cancel
                            button.btn.btn-warning(type="button", id="deactivateButton") Deactivate
                            button.btn.btn-danger(type="button", id="deleteButton") Delete
        .modal.fade#downloadAccount(tabindex="-1", role="dialog")
            .modal-dialog(role="document")
                .modal-content
                    .modal-header
                        button.close(type="button", data-dimiss="modal", aria-label="Close"): span(aria-hidden="true") &times;
                        h4.modal-title Download Account Data
                    .modal-body
                        p You may download all of the data that #{config.siteName} possesses on you.
                        p You will be provided all of the data as one JSON file, containing any and all data relating to your usage of the site. The file may be large in size, and could take a while to process.
                    .modal-footer
                        button.btn.btn-default(type="button", data-dismiss="modal") Cancel
                        a.btn.btn-warning(type="submit", href="/api/account-data") Download
        unless has2FA
            .modal.fade#enableTOTP(tabindex="-1", role="dialog")
                .modal-dialog(role="document")
                    .modal-content
                            .modal-header
                                button.close(type="button", data-dimiss="modal", aria-label="Close"): span(aria-hidden="true") &times;
                                h4.modal-title Enable Two-Factor Authentication
                            .modal-body
                                .row.row-fluid
                                    .col-sm-8
                                        p To set up two-factor authentication for your #{config.siteName} account, follow the listed instructions.
                                        ol
                                            li: p Install and open a Two-Factor authentication app that supports TOTP. Popular apps for both iOS and Android include #[a(href="https://support.google.com/accounts/answer/1066447") Google Authenticator], #[a(href="https://duo.com/product/trusted-users/two-factor-authentication/duo-mobile") Duo Mobile], and #[a(href="https://authy.com/download/") Authy].
                                            li: p Add your #{config.siteName} account by scanning the QR code #[span.hidden-xs to the right]#[span.visible-xs-inline below], or entering the text code underneath it.
                                            li: p Enter the 6-digit code that is generated by the application:
                                                form.form-inline#enableTOTPForm
                                                    input#totpSecretCodeInput(type='hidden', name="secret")
                                                    .input-group
                                                        input.form-control(maxlength="6", inputmode="numeric", pattern="[0-9]{6}", name="token", placeholder="Generated token", required)
                                                        span.input-group-btn: button.btn.btn-primary(type="submit") Verify
                                        .alert.hidden(role="alert", name="enableTOTPAlert")
                                    .col-sm-4.align-center
                                        img#totpQRCode
                                        br
                                        small.text-muted If you are unable to set up using a QR code, enter this code into your two-factor authentication app instead:#[br]#[code#totpSecretCode.breaks]
