extends ../layout
block content
    .container.norctn
        h1 Hey, #{user.name}!
        p.lead.text-muted We need something from you before you can continue to #{config.siteName}.
        p Our #[a(href="/tos") Terms of Service] have changed since the last time you used #{config.siteName}, so before we can let you use #{config.siteName} again, you'll need to accept the new Terms of Service. Please read the provided Terms of Service and indicate that you either agree or disagree at the bottom of the page.
        hr
        div !{md}
        hr
        p.text-muted If you agree with the new Terms of Service, click #[strong Agree] to continue to #{config.siteName}. If you do not agree to the new Terms of Service, you may not use #{config.siteName}, click #[strong Disagree] to be signed out.
        form(method="POST")
            input(type='hidden', name='_csrf', value=_csrf)
            input(type="hidden", name="tosAccepted", value="true")
            .
                #[input.btn.btn-success(type="submit", value="Agree")] #[a.btn.btn-danger(href="/signout?redirectURL=" + redirectURLPart) Disagree]